*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
h1, h2, a{
  font-family: sans-serif;
}
a{
  color: #406E8E;
}

a:hover{
    text-decoration: underline;
    color: #05B2DC;
  }
